body {
    background-color: #A384C0;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    text-align: center;
}

.title {
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 90px;
    -webkit-text-stroke: 4px rgba(0, 0, 0, 0.501);
}

.instruction{
    color: white;
    font-size: 25px; /* Reduce font size */
    width: fit-content; /* Shrink the container to fit the text */
    margin: 5px auto; /* Center the container */
    margin-bottom: 20px;
}

.cards_container {
    width: 80%;
    margin: 0 auto;
    vertical-align: middle;
    /* background-color: #cbbbdb; */
}

.cards_layout {
    display: flex; /* Enables flexbox */
    justify-content: space-around; /* Distributes cards evenly with space around them */
    align-items: center; /* Aligns cards vertically in the center */
}

.flex_container {
    display: flex; /* Enables flexbox */
    justify-content: space-around; /* Distributes cards evenly with space around them */
    align-items: center; /* Aligns cards vertically in the center */
    gap: 100px; /* Adds spacing between cards */
}

  .card, .loadCards{
    background-color: #9892e7;
    padding: 20px; /* Optional: Padding inside the card */
    border: 1px solid #ccc;
    border-radius: 8px; /* Optional: Rounded corners */
    text-align: center; /* Centers text inside the card */
    height: 420px;
    width: 240px; /* Optional: Fixed width for cards */
    cursor: pointer; /* Changes the cursor to a pointer when hovering over the card */
    transition: transform 0.2s; /* Optional: Adds a hover effect */
  }

    .card {
    background-color: #564e8b; /* Optional: Card background color */
    border: 1px solid #ccc;
}

  .card:hover, .loadCards:hover {
    transform: scale(1.05); /* Optional: Slightly enlarges the card on hover */
  }

  .card_info_container {
    color: white;
    display: flex;
    flex-direction: column; /* Stacks elements vertically */
    align-items: center; /* Centers elements horizontally */
}

.card_name {
    font-weight: bold;
    font-size: 30px;
    margin: 20px; /* Reduce vertical spacing */
    margin-bottom: 0px;
}

.card_details {
    font-size: 16px;
    margin: 3px 0; /* Reduce vertical spacing */
}

.card_meaning {
    font-size: 14px;
    margin: 3px 0; /* Reduce vertical spacing */
    text-align: center;
    max-width: 70%;
}

.card img {
  width: 100%; /* Make the image fit the container's width */
  height: 100%; /* Make the image fit the container's height */
  object-fit: contain; /* Maintain the aspect ratio of the image */
  border: 2px solid black; /* Add a border directly to the image */
  border-radius: 8px; /* Optional: Add rounded corners */
}